/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  
  .container {
    padding: 60px 15px 0;
    margin-top: 80px;
  }
  
  code {
    font-size: 80%;
  }
  
  .data-table {
    margin-bottom: 6rem;
    margin-top: 1rem;
  }
  .reset { 
    margin-bottom: 20px;
  }